* {
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
}

.pokemon-card {
  display: inline-block;
}
.pokemon-card:hover {
  background-color:yellow;
}
